.normal-22{
	font-weight:normal;
	color:#24303F;
	font-size:22px;
}
.normal-18{
	font-weight:normal;
	color:#24303F;
	font-size:18px;
}
.gray-18{
	font-weight:normal;
	color:#A1A9AC;
	font-size:18px;
}
.normal-14{
	font-weight:normal;
	color:#24303F;
	font-size:14px;
}
.lightblack-14{
	font-weight:normal;
	color:#515557;
	font-size:14px;
}
.underline-14{
	font-weight:normal;
	color:#00548B;
	font-size:14px;
}
.gray-14{
	font-weight:normal;
	color:#A1A9AC;
	font-size:14px;
}
.black-14{
	font-weight:normal;
	color:#000000;
	font-size:14px;
}
.filter-14{
	font-weight:normal;
	color:#DADDDE;
	font-size:14px;
}
.white-14{
	font-weight:normal;
	color:#FFFFFF;
	font-size:14px;
}
.black-12{
	font-weight:normal;	
	color:#000000;
	font-size:12px;
}
.gray-12{
	font-weight:normal;
	color:#A1A9AC;
	font-size:12px;
}
.underline-12{
	font-weight:normal;
	color:#00548B;
	font-size:12px;
}
.lightblack-12{
	font-weight:normal;
	color:#515557;
	font-size:12px;
}
.red-12{
	font-weight:normal;
	color:red;
	font-size:12px;
}